<nav class="main_navigation" id="main_page">
    <a href="/">Главная</a>
    <a href="/recipe/list">Все рецепты</a>
    <a href="/recipe/add">Создать рецепт</a>
    <a href="/user/list">Список пользователей</a>
</nav>
