<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{title}} | Ошибка</title>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="/error/error-style.css">-->
</head>
<body>
{{{body}}}
</body>
</html>